.footer__container{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin-left: 5vw;
    background-color: gainsboro;
    padding: 2em;
}

.footer__title{
    color: darkslategray;
    font-weight: bold;
    margin-bottom: 0px;
}

footer{

    a:visited, a:active, a:link{
        color: grey;
    }

    ul{
        padding-left: 0px;
    }
}

.footer__flex-left, .footer__flex-right{
    display: flex;
    justify-content: space-between;
    
}


 .footer__catagories-box, .footer__stores-box, .footer__socials-box{
    margin-left: 2em;
}


@media screen and (max-width:680px){
  .footer__container{
      flex-direction: column;
      align-items: center;
      width: 95vw;
      margin-left: 2.5vw;
      
      
  }

  .footer__flex-left, .footer__flex-right{
    width: 95vw;
    font-size: 80%;
    justify-content: space-around;
    
}


    
}