*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

a, a:link, a:hover, a:visited, a:active {
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nav-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2f125f;
}

.nav-bar__logo {
  width: 25vw;
}

.nav-bar__links--home::before, .nav-bar__links--popular::before, .nav-bar__links--contact::before {
  position: absolute;
  height: 24px;
  width: 24px;
  margin-left: -28px;
  margin-top: -4px;
  content: '';
  background-size: contain;
}

.nav-bar__links {
  color: white;
}

.nav-bar__links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bar__links ul li {
  margin-left: 36px;
}

.nav-bar__links a:visited {
  color: white;
}

.nav-bar__links--home::before {
  background-image: url(../images/house-solid.svg);
}

.nav-bar__links--popular::before {
  background-image: url(../images/heart-pulse-solid.svg);
}

.nav-bar__links--contact::before {
  background-image: url(../images/map-pin-solid.svg);
}

.nav-bar__toggle-menu {
  display: none;
  height: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-bar__toggle-menu span {
  width: 32px;
  height: 4px;
  background-color: white;
  color: #2f125f;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .nav-bar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-bar__logo {
    margin-left: 1em;
  }
  .nav-bar__links {
    background-color: #2f125f;
    display: block;
    position: absolute;
    top: 80px;
    -webkit-animation-name: menu-slide-out;
            animation-name: menu-slide-out;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    overflow: hidden;
  }
  .nav-bar__links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-bar__links ul li {
    margin-top: 1em;
    margin-left: 1em;
    opacity: 0;
  }
  @-webkit-keyframes menu-slide-out {
    from {
      width: 100%;
      -webkit-transform: translateX(0vw);
              transform: translateX(0vw);
    }
    to {
      width: 0%;
      -webkit-transform: translateX(100vw);
              transform: translateX(100vw);
    }
  }
  @keyframes menu-slide-out {
    from {
      width: 100%;
      -webkit-transform: translateX(0vw);
              transform: translateX(0vw);
    }
    to {
      width: 0%;
      -webkit-transform: translateX(100vw);
              transform: translateX(100vw);
    }
  }
  .nav-bar__links.show-menu {
    -webkit-animation-name: menu-slide-in;
            animation-name: menu-slide-in;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .nav-bar__links.show-menu .nav-bar__links--home {
    -webkit-animation-name: menu-slide-in;
            animation-name: menu-slide-in;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .nav-bar__links.show-menu .nav-bar__links--popular {
    -webkit-animation-name: menu-slide-in;
            animation-name: menu-slide-in;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .nav-bar__links.show-menu .nav-bar__links--contact {
    -webkit-animation-name: menu-slide-in;
            animation-name: menu-slide-in;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes menu-slide-in {
    from {
      width: 0%;
      -webkit-transform: translateX(100vw);
              transform: translateX(100vw);
      opacity: 0;
    }
    to {
      width: 100%;
      -webkit-transform: translateX(0vw);
              transform: translateX(0vw);
      opacity: 1;
    }
  }
  @keyframes menu-slide-in {
    from {
      width: 0%;
      -webkit-transform: translateX(100vw);
              transform: translateX(100vw);
      opacity: 0;
    }
    to {
      width: 100%;
      -webkit-transform: translateX(0vw);
              transform: translateX(0vw);
      opacity: 1;
    }
  }
  .nav-bar__links.show-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-bar__links.show-menu ul li {
    margin-top: 1em;
    margin-left: 1em;
  }
  .nav-bar__toggle-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 1em;
  }
  .nav-bar__toggle-menu.show-menu span:nth-child(1) {
    -webkit-animation-name: hamburger-close;
            animation-name: hamburger-close;
    -webkit-animation-duration: 1.2s;
            animation-duration: 1.2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes hamburger-close {
    from {
      -webkit-transform: rotateZ(0deg) translate(0px, 0px);
              transform: rotateZ(0deg) translate(0px, 0px);
    }
    to {
      -webkit-transform: rotateZ(405deg) translate(8px, 8px);
              transform: rotateZ(405deg) translate(8px, 8px);
    }
  }
  @keyframes hamburger-close {
    from {
      -webkit-transform: rotateZ(0deg) translate(0px, 0px);
              transform: rotateZ(0deg) translate(0px, 0px);
    }
    to {
      -webkit-transform: rotateZ(405deg) translate(8px, 8px);
              transform: rotateZ(405deg) translate(8px, 8px);
    }
  }
  .nav-bar__toggle-menu.show-menu span:nth-child(2) {
    -webkit-transition-duration: 1.2s;
            transition-duration: 1.2s;
    -webkit-transform: rotateZ(-405deg);
            transform: rotateZ(-405deg);
  }
  .nav-bar__toggle-menu.show-menu span:nth-child(3) {
    -webkit-transition-duration: 0.6s;
            transition-duration: 0.6s;
    opacity: 0;
  }
  .nav-bar__logo {
    width: 40vw;
  }
}

.login-card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-card__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  min-width: 340px;
}

.login-card__img-placeholder {
  background-color: gray;
  height: 250px;
  width: 250px;
  border-radius: 10%;
  margin-top: 1rem;
}

.login-card__flex-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 90%;
  font-size: 90%;
}

.login-card__title {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.login-card__subtext {
  margin-top: 0.5rem;
  color: gray;
}

.login-card__email-input, .login-card__password-input {
  border: none;
  border-bottom: 1px solid black;
  width: 90%;
  margin-top: 2rem;
  line-height: 150%;
}

.login-card__remember-label {
  margin-left: -2rem;
}

.login-card__forget-link {
  color: #003fff;
}

.login-card__submit-btn {
  width: 90%;
  color: white;
  font-weight: bold;
  background-color: #003fff;
  border: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.login-card__submit-btn:hover {
  cursor: pointer;
}

.login-card__submit-btn::before {
  content: '';
  position: absolute;
  background-image: url(../images/Druplicon.svg);
  background-size: contain;
  height: 18px;
  width: 18px;
  margin-left: -32px;
  margin-top: -2px;
}

.product-card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  height: 165px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-card__image-placeholder {
  min-width: 165px;
  min-height: 165px;
  background-color: grey;
}

.product-card__text-box {
  width: 30vw;
  height: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: grey;
  margin-left: 1em;
}

.product-card__product-title {
  font-weight: bold;
}

.product-card__product-title,
.product-card__brand-name {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: darkslategray;
}

.product-card__product-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-card__product-price {
  color: red;
  font-weight: bold;
}

.product-card__price-cents-span {
  font-size: 75%;
  position: relative;
  top: -3px;
}

.product-card__delivery-info {
  color: green;
}

.product-card__add-to-cart-btn {
  background-color: #ffdc4d;
  width: 8em;
  height: 3em;
  border: none;
}

.product-card__add-to-cart-btn::after {
  content: '';
  position: absolute;
  background-image: url(../images/basket_grey.svg);
  background-size: contain;
  height: 24px;
  width: 24px;
  margin-top: -12px;
}

.product-card__add-to-cart-btn::before {
  content: '+';
  position: absolute;
  font-size: 250%;
  margin-left: -40px;
  margin-top: -24px;
  color: darkslategray;
}

.product-card__add-to-cart-btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 680px) {
  .product-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 90vw;
    height: auto;
  }
  .product-card__image-placeholder {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .product-card__text-box {
    width: 90vw;
    height: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .product-card__brand-name,
  .product-card__product-title {
    text-align: center;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .product-card__product-description {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .product-card__price-box {
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product-card__delivery-info {
    margin: 0.5rem;
  }
  .product-card__product-price {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 0px 5em 0px  0px;
  }
}
/*# sourceMappingURL=main.css.map */