*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

a, a:link, a:hover, a:visited, a:active {
  color: unset;
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nav-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2f125f;
}

.nav-bar__logo {
  width: 25vw;
}

.nav-bar__links--home::before, .nav-bar__links--popular::before, .nav-bar__links--contact::before {
  position: absolute;
  height: 24px;
  width: 24px;
  margin-left: -28px;
  margin-top: -4px;
  content: '';
  background-size: contain;
}

.nav-bar__links {
  color: white;
}

.nav-bar__links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bar__links ul li {
  margin-left: 36px;
}

.nav-bar__links--home::before {
  background-image: url(../images/house-solid.svg);
}

.nav-bar__links--popular::before {
  background-image: url(../images/heart-pulse-solid.svg);
}

.nav-bar__links--contact::before {
  background-image: url(../images/map-pin-solid.svg);
}

.nav-bar__toggle-menu {
  display: none;
  height: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-bar__toggle-menu span {
  width: 32px;
  height: 4px;
  background-color: white;
  color: #2f125f;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .nav-bar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-bar__logo {
    margin-left: 1em;
  }
  .nav-bar__links {
    background-color: #2f125f;
    display: block;
    position: absolute;
    top: 80px;
    -webkit-animation-name: menu-slide-out;
            animation-name: menu-slide-out;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    overflow: hidden;
  }
  .nav-bar__links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-bar__links ul li {
    margin-top: 1em;
    margin-left: 1em;
    opacity: 0;
  }
  @-webkit-keyframes menu-slide-out {
    from {
      width: 100%;
      -webkit-transform: translateX(0vw);
              transform: translateX(0vw);
    }
    to {
      width: 0%;
      -webkit-transform: translateX(100vw);
              transform: translateX(100vw);
    }
  }
  @keyframes menu-slide-out {
    from {
      width: 100%;
      -webkit-transform: translateX(0vw);
              transform: translateX(0vw);
    }
    to {
      width: 0%;
      -webkit-transform: translateX(100vw);
              transform: translateX(100vw);
    }
  }
  .nav-bar__links.show-menu {
    -webkit-animation-name: menu-slide-in;
            animation-name: menu-slide-in;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .nav-bar__links.show-menu .nav-bar__links--home {
    -webkit-animation-name: menu-slide-in;
            animation-name: menu-slide-in;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .nav-bar__links.show-menu .nav-bar__links--popular {
    -webkit-animation-name: menu-slide-in;
            animation-name: menu-slide-in;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .nav-bar__links.show-menu .nav-bar__links--contact {
    -webkit-animation-name: menu-slide-in;
            animation-name: menu-slide-in;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes menu-slide-in {
    from {
      width: 0%;
      -webkit-transform: translateX(100vw);
              transform: translateX(100vw);
      opacity: 0;
    }
    to {
      width: 100%;
      -webkit-transform: translateX(0vw);
              transform: translateX(0vw);
      opacity: 1;
    }
  }
  @keyframes menu-slide-in {
    from {
      width: 0%;
      -webkit-transform: translateX(100vw);
              transform: translateX(100vw);
      opacity: 0;
    }
    to {
      width: 100%;
      -webkit-transform: translateX(0vw);
              transform: translateX(0vw);
      opacity: 1;
    }
  }
  .nav-bar__links.show-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-bar__links.show-menu ul li {
    margin-top: 1em;
    margin-left: 1em;
  }
  .nav-bar__toggle-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 1em;
  }
  .nav-bar__toggle-menu.show-menu span:nth-child(1) {
    -webkit-animation-name: hamburger-close;
            animation-name: hamburger-close;
    -webkit-animation-duration: 1.2s;
            animation-duration: 1.2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes hamburger-close {
    from {
      -webkit-transform: rotateZ(0deg) translate(0px, 0px);
              transform: rotateZ(0deg) translate(0px, 0px);
    }
    to {
      -webkit-transform: rotateZ(405deg) translate(8px, 8px);
              transform: rotateZ(405deg) translate(8px, 8px);
    }
  }
  @keyframes hamburger-close {
    from {
      -webkit-transform: rotateZ(0deg) translate(0px, 0px);
              transform: rotateZ(0deg) translate(0px, 0px);
    }
    to {
      -webkit-transform: rotateZ(405deg) translate(8px, 8px);
              transform: rotateZ(405deg) translate(8px, 8px);
    }
  }
  .nav-bar__toggle-menu.show-menu span:nth-child(2) {
    -webkit-transition-duration: 1.2s;
            transition-duration: 1.2s;
    -webkit-transform: rotateZ(-405deg);
            transform: rotateZ(-405deg);
  }
  .nav-bar__toggle-menu.show-menu span:nth-child(3) {
    -webkit-transition-duration: 0.6s;
            transition-duration: 0.6s;
    opacity: 0;
  }
  .nav-bar__logo {
    width: 40vw;
  }
}
/*# sourceMappingURL=main.css.map */