*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #2e2e2e;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2e2e2e;
  color: white;
  margin-bottom: 2rem;
}
.container h2 {
  margin-bottom: 1rem;
}
.container p {
  max-width: 80vw;
}

#search-container {
  justify-content: flex-start;
  height: 128px;
}

.clock-el {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #1f1e1e;
  border: solid 1px turquoise;
  position: relative;
  filter: drop-shadow(0 0 0.35rem turquoise);
}
.clock-el::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  z-index: 11;
  background-color: #1f1e1e;
  border: 3px solid turquoise;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.number {
  --rotation: 0;
  position: absolute;
  -webkit-text-stroke: 1px turquoise;
  filter: drop-shadow(0 0 0.35rem turquoise);
  color: transparent;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  transform: rotate(var(--rotation));
}

.number1 {
  --rotation: 30deg;
}

.number2 {
  --rotation: 60deg;
}

.number3 {
  --rotation: 90deg;
}

.number4 {
  --rotation: 120deg;
}

.number5 {
  --rotation: 150deg;
}

.number6 {
  --rotation: 180deg;
}

.number7 {
  --rotation: 210deg;
}

.number8 {
  --rotation: 240deg;
}

.number9 {
  --rotation: 270deg;
}

.number10 {
  --rotation: 300deg;
}

.number11 {
  --rotation: 330deg;
}

.hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  border: 3px solid turquoise;
  filter: drop-shadow(0 0 0.35rem turquoise);
  color: transparent;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.hand-hours {
  height: 30%;
  width: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.hand-minutes {
  height: 40%;
  width: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.hand-seconds {
  height: 40%;
  width: 3px;
  background-color: turquoise;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.carousel {
  width: 640px;
  height: 480px;
  position: relative;
  overflow: hidden;
}
.carousel ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide {
  position: absolute;
  inset: 0;
  transition-property: all;
  transition-duration: 200ms;
  transition-delay: 200ms;
  transform: translateX(100%);
}
.slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.slide.active {
  transition: all, 500ms, ease-out;
  transform: translateX(0);
}

.slide.slideleft {
  -webkit-animation: slideleft 500ms ease-out;
          animation: slideleft 500ms ease-out;
}

@-webkit-keyframes slideleft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideleft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.slide.slideright {
  -webkit-animation: slideright 500ms ease-out;
          animation: slideright 500ms ease-out;
}

@-webkit-keyframes slideright {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slideright {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.slide.fromRight {
  -webkit-animation: fromright 500ms ease-out;
          animation: fromright 500ms ease-out;
}

.slide.fromLeft {
  -webkit-animation: fromleft 500ms ease-out;
          animation: fromleft 500ms ease-out;
}

@-webkit-keyframes fromright {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes fromright {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@-webkit-keyframes fromleft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes fromleft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
.carousel__btn-next,
.carousel__btn-prev {
  position: absolute;
  background: none;
  border: none;
  font-size: 4rem;
  line-height: 3rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}
.carousel__btn-next:hover,
.carousel__btn-next :focus,
.carousel__btn-prev:hover,
.carousel__btn-prev :focus {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.6);
}

.carousel__btn-next {
  right: 1rem;
}

.carousel__btn-prev {
  left: 1rem;
}

.comment-wrapper {
  display: flex;
  gap: 0.5rem;
}

.comment {
  display: flex;
  width: 40vw;
  justify-content: space-between;
  align-items: center;
  background-color: #2e2e2e;
  color: white;
  margin: 0.5rem;
  border-radius: 15px;
  filter: drop-shadow(0 0 0.35rem turquoise);
  border: 1px solid turquoise;
  -webkit-animation: pop-comment 300ms ease-in-out;
          animation: pop-comment 300ms ease-in-out;
}
.comment img {
  margin: 0.25rem;
  border-radius: 50%;
}
.comment p {
  margin-left: 1rem;
}
.comment button {
  background-color: dodgerblue;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem 1rem;
  color: white;
  margin-right: 1rem;
  border: none;
}
.comment button:hover {
  transform: scale(110%);
  cursor: pointer;
}

@-webkit-keyframes pop-comment {
  from {
    transform: scale(0%);
    opacity: 0;
  }
  to {
    transform: scale(100%);
    opacity: 1;
  }
}

@keyframes pop-comment {
  from {
    transform: scale(0%);
    opacity: 0;
  }
  to {
    transform: scale(100%);
    opacity: 1;
  }
}
.comment__form-alert {
  padding: 0.5rem;
  margin: 0;
  border: 1px solid black;
}

.comment__form-alert.special {
  background-color: orangered;
  color: white;
  font-weight: bold;
}

.comment-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 480px;
  width: 50vw;
  overflow-y: scroll;
  background-color: #1f1e1e;
}

.comment-list {
  padding: 0;
  position: relative;
}

.comment.reply {
  background-color: rgb(93, 97, 95);
  margin-left: 5vw;
}
.comment.reply p {
  margin-right: 1rem;
}

.replytext {
  font-size: 12px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: -28px;
  z-index: 100;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
}
.person h3 {
  margin: 0;
}

.edit-area {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.edit-area textarea {
  display: block;
}

.search-wrapper {
  position: absolute;
  margin-top: 2rem;
  transform: translateX(-25%);
}

.autofill-item {
  display: none;
}

.autofill-item.show {
  display: block;
  color: black;
  padding: 10px;
  cursor: pointer;
  background-color: white;
}
.autofill-item.show:hover {
  background-color: #d4d4d4;
}

.autofill-item.show.active {
  background-color: dodgerblue;
  color: white;
}

.search-list {
  position: relative;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

#input-search {
  font-size: 16px;
  padding: 10px;
  width: 100%;
  border: 1px solid #d4d4d4;
}

#search-btn {
  position: absolute;
  background-color: dodgerblue;
  font-size: 16px;
  color: white;
  padding: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  left: 100%;
  top: 0;
}
#search-btn:hover {
  box-shadow: 0 4px 8px 0 rgba(30, 144, 255, 0.5), 0 6px 20px 0 rgba(30, 144, 255, 0.4);
}

.deck-wrapper {
  background-color: #2e2e2e;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin-left: 2.5vw;
  width: 95vw;
  height: 300vh;
  gap: 0.5em;
  overflow-y: hidden;
}

.card {
  -webkit-animation: pop-comment 600ms ease-in 200ms;
          animation: pop-comment 600ms ease-in 200ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  width: 30vw;
  height: 500px;
  text-align: center;
  background-color: #1f1e1e;
  color: white;
  margin-top: 2em;
  border-radius: 15px;
  opacity: 0;
  box-shadow: 0 4px 8px 0 rgba(134, 134, 134, 0.2), 0 6px 20px 0 rgba(194, 192, 192, 0.19);
}
.card img {
  max-width: 25vw;
  border-radius: 10px;
}

.card-text {
  height: 8em;
  overflow-y: clip;
  color: white;
  padding: 1em;
  background-color: #1f1e1e;
}

@media screen and (max-width: 800px) {
  .carousel {
    width: 90vw;
    height: 320px;
  }

  .container p {
    width: 60vw;
  }

  .deck-wrapper {
    width: 95vw;
    margin-left: 2.5vw;
  }

  .card {
    width: 90vw;
  }
  .card img {
    width: auto;
    max-width: 100%;
  }

  .comment-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .comment {
    width: 80vw;
  }

  .comment.reply {
    width: 75vw;
  }

  .comment-area {
    width: 90vw;
  }
}/*# sourceMappingURL=style.css.map */